body {
    background-color: rgb(19, 19, 19);
}

h1 {
    color: rgb(226, 226, 226);
}

h2 {
    color: rgb(226, 226, 226);
    font-size: medium;
}

.flex-container {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    background-color: tomato;
}

.flex-container > div {
    background-color: turquoise;
    margin: 10px;
    height: 230px;
    width: 430px;
    overflow: hidden;
}